extends layout
block content

  .row
    .col-md-4.offset-md-4
      h2 Login
      br
      form#login
        .form-group
            label(for='exampleInputEmail1') Username
            input.form-control(name='username', type='text', required='')
        .form-group
            label(for='exampleInputPassword1') Password
            input.form-control(name='password', type='password', required='')
        button#loginSubBtn.btn.btn-primary(name='submit', type='submit') Login
        br
        br
        p#wrong-username.form-info.text-danger.text-center Username does not exist. Try again
        p#wrong-password.form-info.text-danger.text-center Passowrd is wrong. Try again
