nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Ratehub
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li#uploadBtn.nav-item
        a.nav-link(href='/upload') Upload
      li#reportsBtn.nav-item
        a.nav-link(href='/reports') Reports
      li#loginBtn.nav-item
        a.nav-link(href='/user/login') Login
      li#registerBtn.nav-item
        a.nav-link(href='/user/register') Register
      li#logoutBtn.nav-item
        a.nav-link(href='') Logout
    form#search.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(name='wanted', type='search', placeholder='Title, description...', aria-label='Title, description...')
      button.btn.btn-outline-success.my-2.my-sm-0(name='submit', type='submit') Search
