extends layout
block content

  .row
    .col-md-4.offset-md-4
      form#register
        .form-group
            label(for='exampleInputEmail1') Username
            input.form-control(name='username', type='text', placeholder='Enter username')
        .form-group
            label(for='exampleInputPassword1') Password
            input.form-control(name='password', type='password', placeholder='Password')
        .form-group.form-check
            input.form-check-input(name='role', type='checkbox')
            label.form-check-label(for='exampleCheck1') I want to be an uploader
        button.btn.btn-primary(name='submit', type='submit') Register
