extends layout
block content

  .row
    .col-md-4.offset-md-4
      h2 Register
      br
      form#register
        .form-group
            label(for='exampleInputEmail1') Username
            input.form-control(name='username', type='text', required='')
        .form-group
            label(for='exampleInputPassword1') Password
            input.form-control(name='password', type='password', required='')
        .form-group.form-check
            input.form-check-input(name='role', type='checkbox')
            label.form-check-label(for='exampleCheck1') I want to be an uploader
        button#registerSubBtn.btn.btn-primary(name='submit', type='submit') Register
        br
        br
        p#username-in-use.form-info.text-danger.text-center Username already in use. Try again
