.navbar {
    margin-bottom: 40px;
}

h4 {
    /* margin-bottom: 20px; */
}

.reviews {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.fa-star {
    color: #FFD119;
}

#review {
    display: none;
}

.reported {
    display: none;
}

#deleteBtn {
    cursor: pointer;
}
